Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard
CheckOptions:
  bugprone-easily-swappable-parameters.MinimumLength: '3'
HeaderFilterRegex: '^.*/src/.*$'